@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lustria";
    src: url("../fonts/Lustria-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-primary: #ffffff;
    --color-seconds : #2d3951;
    --color-bouton: #dedc55;
    --color-black: #000;

    --font-principal : Lato, sans-serif;
    --font-seconds : Lustria, serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-principal);
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: var(--font-seconds);
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 40px;
    background-color: #2d3951;
    height: 60px;
    width: 100%;
}

header .nav-img {
    height: 60px;
}

header .nav-img img{
    height: 100%;
}

header .navbar nav ul {
    display: flex;
    list-style-type: none;
}

header .navbar nav ul li{
    margin-left: 15px;
}

header .navbar nav ul li a{
    border: 1px solid var(--color-bouton);
    padding: 10px 20px;
    color: var(--color-bouton);
}

header .navbar nav ul li a:hover{
    background-color: var(--color-bouton);
    color: var(--color-black);
}

.width800px {
    width: 800px;
    margin: auto;
}

header .header-image-content {
    position: relative;
    margin: 10px auto;
    height: 640px;
    width: 800px;
}

header .header-image-content::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 100%;
    height: 100%;
    background-image: url(../images/house-interieur-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(0.6);
}

header .header-image-content:hover::before {
    filter: brightness(1);
}


header .header-image-content .image-content:hover {
    filter: brightness(1);
}

header .header-image-content .image-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    padding: 150px;
}

header .header-image-content .image-content h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
}

header .header-image-content .image-content p{
    text-align: center;
    margin-bottom: 20px;
}

header .header-image-content .image-content a{
    background-color: var(--color-bouton);
    padding: 10px 40px;
    outline: var(--color-primary) 2px solid;
    font-family: var(--font-seconds);
}

.section-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-seconds);
    padding: 70px 20px;
    margin-top: 40px;
    gap: 1rem;
}

.card {
    display: flex;
    background-color: #fff;
    width: 45%;
    border-radius: 8px;
}

.card-reverse {
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    width: 45%;
    border-radius: 8px;
}

.card-image {
    width: 40%;
}

.card .card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;
    border-radius: 7px 0 0 7px;
}

.card-reverse .card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;
    border-radius: 0 7px 7px 0;
}

.card-content {
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
}

.card-content>h2{
    font-weight: 600;
    font-size: 20px;
    color: hsl(217, 19%, 35%);
}

.card-content>p{
    margin: 20px 0;
    color: hsl(214, 17%, 51%);
    line-height: 1.5rem;
}

.card-content-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-content-profile-image {
    display: flex;
}

.content-profile-image {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 10px;
}

.content-profile-image>p{
    margin: 2px 0;
}

.content-profile-image>p:first-child {
    font-weight: 500;
    color: hsl(217, 19%, 35%);
}

.content-profile-image>p:nth-child(2) {
    color: #a8a8a8;
}

.card-content-profile-image img{
    width: 50px;
    border-radius: 100px;
}

.card-content-profile-icon {
    background-color: hsl(210, 46%, 95%);
    padding: 7px;
    border-radius: 100px;
}

.card-content-profile-icon i{
    color: hsl(217, 19%, 35%);
}

main .contact {
    margin: 50px auto;
}

.contact .contact-content .contact-content-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.contact .contact-content .contact-content-input input{
    width: 49%;
    background-color: var(--color-seconds);
    border: none;
    padding: 15px 10px;
}


.contact .contact-content .contact-content-textarea {
    display: flex;
    flex-direction: column;
}

.contact .contact-content .contact-content-textarea textarea{
    background-color: var(--color-seconds);
    border: none;
    padding: 15px 10px;
    margin-bottom: 15px;
    overflow: auto;
}

.contact .contact-content .contact-content-textarea input{
    background-color: var(--color-bouton);
    border: none;
    padding: 15px 10px;
    color: var(--color-black);
    outline: var(--color-black) 2px solid;
    margin-bottom: 15px;
}

textarea::-webkit-input-placeholder , input::-webkit-input-placeholder{
    color: #b9b9b9;
}

textarea:-moz-placeholder, input:-moz-placeholder { /* Firefox 18- */
    color: #b9b9b9;
}

textarea::-moz-placeholder, input::-moz-placeholder{  /* Firefox 19+ */
    color: #b9b9b9;
}

textarea:-ms-input-placeholder, input:-ms-input-placeholder{
    color: #b9b9b9;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: white;
    background-color: var(--color-seconds);
}

footer h3{
    margin-bottom: 10px;
}

@media (max-width: 800px) {

    header .navbar nav ul {
        display: none;
    }

    .width800px {
        width: auto;
    }

    header .header-image-content {
        width: auto;
    }

    .contact .contact-content form {
        padding: 20px;
    }


    .width800px {
        width: auto;
    }

    header .header-image-content {
        width: auto;
        padding: 0;
    }

    header .header-image-content .image-content{
        padding: 0;
    }


    .card {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 90%;
        height: max-content;
        border-radius: 7px;
    }

    .card-reverse {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 90%;
        height: max-content;
        border-radius: 7px;
    }

    .card-image {
        width: 100%;
        height: 30%;
    }

    .card .card-image img{
        width: 100%;
        border-radius: 7px 7px 0 0;
    }

    .card-content {
        padding: 35px;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }
}
